apiVersion: apps/v1
kind: Deployment
metadata:
  name: myservice-deployment
spec:
  replicas: 1
  selector:
    matchLabels:
      app: myservice
  template:
    metadata:
      labels:
        app: myservice
    spec:
      containers:
        - name: myservice
          image: theopruski/myservice:1
          imagePullPolicy: Always
